*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clock{
    background-color: chartreuse;
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: rgb(243, 240, 240) ;
    border-color: white;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    box-shadow: 0px -0px 10px green;

}


.minutes{
    position: absolute;
    background-color: green;
    width: 8px;
    height: 180px;
    left: 200px;
    border-radius: 4px;
    top: 30px;
    animation: minutesNeedle 6s infinite;
    transform-origin: center bottom;
    animation-timing-function: linear;
    
}

@keyframes minutesNeedle{
    from{transform: rotate(0deg) ;}
    to{transform: rotate(360deg);}
}    


.hour{
    position: absolute;
    background-color: green;
    width: 8px;
    height: 150px;
    left: 200px;
    top: 60px;
    border-radius: 4px;
    animation: hourNeedle 60s infinite;
    transform-origin: center bottom;
    animation-timing-function: linear;
}

@keyframes hourNeedle{
    from{transform: rotate(0deg) ;}
    to{transform: rotate(360deg);}
}

.circle{
    position: absolute;
    background-color: green;
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    border-radius: 100px;
}
